node_modules
client/build
client/src/templates/**
server/build/**
server/public/templates/**

# env files
.env*
!.env.example
.DS_Store


# Dependencies
dependencies/*
!dependencies/.gitkeep

# Texmaker files
.log
.aux
.synctex.gz
