node_modules
client/build
client/src/templates/**
server/build/**
server/dist/
server/public/templates/**

# env files
.env*
!.env.example
.DS_Store


# Dependencies
dependencies/*
!dependencies/.gitkeep

# Document generation
output-documents
server/option-tree-output.html

# Texmaker/Word files
*.aux
*.log
*.pdf_tex
*.synctex.gz
*.dvi
*~$*.docx
template.docx
