button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"] {
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: var(--spacing-md) !important;
  padding-right: var(--spacing-md) !important;
}

button.inline,
input[type="submit"].inline,
input[type="button"].inline,
input[type="reset"].inline,
[role="button"].inline {
  width: auto;
}

button.outline,
input[type="submit"].outline,
input[type="button"].outline,
input[type="reset"].outline,
[role="button"].outline {
  border-width: 2px;
}

button.small,
input[type="submit"].small,
input[type="button"].small,
input[type="reset"].small,
[role="button"].small {
  padding: var(--spacing-sm) var(--spacing-md);
}
