button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"] {
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  justify-content: center;
}
