label {
  font-weight: var(--font-weight-medium);
}

form .action-bar {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-md);
}

form .action-bar input[type="submit"],
button,
a {
  margin: 0;
}

textarea {
  min-height: 5rem;
}
