body {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

header {
  margin-bottom: var(--spacing-lg);
}

header h1,
header h2 {
  margin: 0;
  font-size: 1.8rem;
}

header h2 {
  font-weight: var(--font-weight-light);
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5rem;
}

i {
  margin-right: var(--spacing-sm);
}
