@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?8se8y6') format('truetype'),
    url('fonts/icomoon.woff?8se8y6') format('woff'),
    url('fonts/icomoon.svg?8se8y6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit-pencil:before {
  content: "\e917";
}
.icon-fullscreen-exit:before {
  content: "\e915";
}
.icon-fullscreen:before {
  content: "\e916";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-refresh:before {
  content: "\ea2e";
}
.icon-lock:before {
  content: "\e913";
}
.icon-lock-open:before {
  content: "\e914";
}
.icon-clear:before {
  content: "\e912";
}
.icon-close:before {
  content: "\e912";
}
.icon-upload:before {
  content: "\e900";
}
.icon-boiler-plant:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-chiller-plant:before {
  content: "\e903";
}
.icon-ok:before {
  content: "\e904";
}
.icon-plus:before {
  content: "\e905";
}
.icon-down-open:before {
  content: "\e906";
}
.icon-question:before {
  content: "\e907";
}
.icon-left-open:before {
  content: "\e908";
}
.icon-zone-equipment:before {
  content: "\e909";
}
.icon-th-list:before {
  content: "\e90a";
}
.icon-info-circled:before {
  content: "\e90b";
}
.icon-plus-squared-alt:before {
  content: "\e90c";
}
.icon-cog:before {
  content: "\e90d";
}
.icon-table:before {
  content: "\e90e";
}
.icon-right-open:before {
  content: "\e90f";
}
.icon-up-open:before {
  content: "\e910";
}
.icon-ahu:before {
  content: "\e911";
}
