.left-nav {
  padding: var(--spacing-md) 0;

  h4 {
    padding-left: var(--spacing-md);
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  details {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;

    summary {
      font-size: 1.1rem;
      font-weight: var(--font-weight-medium);
      padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-sm)
        var(--spacing-md);
      background-color: var(--color-blue-light);
      transition: all 0.3s ease;
      position: relative;

      > a {
        color: var(--color-grey-dark);
        position: relative;
        padding-left: var(--spacing-lg);
        display: flex;
        pointer-events: none;

        i {
          color: inherit;
          position: absolute;
          left: 0;
          top: -3px;
          font-size: 1.4rem;
        }
      }

      &:after {
        content: "\e906";
        background-image: none;
        font-family: "icomoon";
        width: 1.5rem;
        text-align: center;
        font-size: 0.8rem;
        position: absolute;
        right: var(--spacing-xs);
        top: 0.5rem;
      }
    }

    &.empty {
      summary {
        background: none;
      }

      &[open] summary {
        margin: 0;
      }

      * {
        display: none;
      }
    }

    &[open] summary {
      background-color: var(--color-blue-dark);

      &:after {
        color: white !important;
      }

      > a {
        color: white;
      }
    }
  }

  ul.templates {
    padding-left: calc(var(--spacing-lg) + 1.4rem);

    > li {
      list-style: none;
    }
  }

  ul.configs {
    padding-left: 0.25rem;

    > li {
      padding-left: var(--spacing-md);
      list-style: none;
      position: relative;

      &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 50%;
        border-left: 1px solid var(--color-blue-dark);
        border-bottom: 1px solid var(--color-blue-dark);
      }
    }
  }
}
