.systems-page {
  ul {
    margin: 0;
    padding: 0;
  }

  .system {
    display: block;
    margin-bottom: var(--spacing-md);

    h2 {
      margin-bottom: var(--spacing-sm);
      font-size: 1.7rem;
      padding-left: var(--spacing-lg);
      position: relative;

      i {
        position: absolute;
        left: 0;
        top: 0.2rem;
        color: var(--color-blue-dark);
        font-size: 2rem;
      }
    }

    ul {
      padding-left: var(--spacing-lg);
    }

    li.template {
      list-style: none;
      border: 1px solid var(--color-gray);
      padding: var(--spacing-sm) var(--spacing-md);

      label {
        font-size: 1.3rem;
        margin: 0;
        position: relative;

        i {
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -0.8rem;
          color: var(--color-gray-medium);
        }

        input[type="checkbox"] {
          border-radius: 2rem;
        }
      }
    }
  }
}
