.action-bar {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-md);

  input[type="submit"],
  button,
  a {
    margin: 0;
  }
}

label {
  font-weight: var(--font-weight-medium);
}

textarea {
  min-height: 5rem;
}
