/* 
variables to override can be found here 
https://github.com/picocss/pico/blob/master/css/pico.css
*/

/* pico overrides */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: var(--color-blue-dark);

  /* card */
  --card-background-color: var(--color-gray-light);
  --card-box-shadow: none;
  --modal-overlay-background-color: rgba(0, 0, 0, 0.3);
  --card-sectionning-background-color: white;
}

h2 {
  --typography-spacing-vertical: var(--spacing-lg);
}

dialog article {
  position: relative;
  max-width: 70%;
  width: 100%;
  padding: var(--spacing-lg) var(--spacing-xl);
}

dialog article a.close {
  width: 2rem;
  height: 2rem;
  opacity: 0.7;
  background-size: auto 2rem;
  position: absolute;
  top: var(--spacing-lg);
  right: var(--spacing-md);
}
