.no-margin {
  margin: 0;
}

.flex-space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-wrap {
  white-space: nowrap;
}

.truncate {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uppercase {
  text-transform: uppercase;
}
